doctype html
html
  head
    title microblog
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(method='POST' action='/'+_id+'/delete')
      button(type='submit') delete
    h1 #{title}
    ul
      li #{author}
      li #{time}
    pre #{body}
    form(method='POST' action='/'+_id+'/edit')
      textarea(rows='4' cols='50' name='body')
      button(type='submit') edit
