doctype html
html
  head
    title microblog
    meta(charset='utf-8')
  body
    h1
      a(href='/') home
    div
      form(method='POST' action='/create')
        div
          span title: 
            input(type='text' name='title')
        div
          span author: 
            span #{name}
        div
          span content: 
          div
            textarea(rows='4' cols='50' name='body')
        button(type='submit') submit
    each item in articles
      h1 
        a(href='/'+item.id) #{item.title}
      ul
        li #{item.author}
        li #{item.time}
